:root {
  --primary-color: #dbd8e3;
  --secondary-color: #5c5470;
  --third-color: #352f44;
  --fourth-color: #2a2438;
  --primary-font: "Comic Neue", cursive;
  --secondary-font: "Playfair Display", serif;

  --box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
body {
  background-color: var(--fourth-color);
}
h1 {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 20px;
}
h3 {
  color: var(--primary-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 5px;
  padding: 0;
}
.heroOne {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/103/239/original/booknook2.jpg?1699356477");
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  text-align: center;
  color: var(--primary-color);
}
.moreLink {
  color: var(--secondary-color);
  text-decoration: none;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  padding: 8px 16px;
}
.infoLine {
  margin: 0px 0px 20px 0px;
}

footer {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 16px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/103/243/original/bookshelves1.jpg?1699361182");
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}
.containerFooter {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 2fr;
  text-align: left;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
}
footer a:visited {
  text-decoration: none;
  color: var(--primary-color);
}
section {
  padding: 40px 40px;
}
main {
  background-color: var(--primary-color);
  color: var(--fourth-color);
}
.sectionOne {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.imageView {
  max-width: 90%;
}
.mainMiniHeader {
  color: var(--fourth-color);
  font-size: 16px;
  text-align: left;
}
.mainHeader {
  color: var(--fourth-color);
  font-size: 36px;
  text-align: left;
  font-weight: 700;
}
.article {
  text-decoration: none;
  color: var(--third-color);
  font-weight: 900;
}

@media (max-width: 800px) {
  h1 {
    font-size: 48px;
    padding: 30px 0;
  }
  h3 {
    font-size: 12px;
  }
  .containerFooter {
    display: grid;
    grid-template-columns: 1fr;
  }
  .sectionOne {
    display: grid;
    grid-template-columns: 1fr;
  }
}
