:root {
  --primary-color: #dbd8e3;
  --secondary-color: #5c5470;
  --third-color: #352f44;
  --fourth-color: #2a2438;
  --primary-font: "Comic Neue", cursive;
  --secondary-font: "Playfair Display", serif;

  --box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
body {
  background-color: var(--fourth-color);
}
h1 {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 20px;
}
h3 {
  color: var(--primary-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 5px;
}
.heroOne {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/103/239/original/booknook2.jpg?1699356477");
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  text-align: center;
  color: #fff;
}
.moreLink {
  color: var(--secondary-color);
  text-decoration: none;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  padding: 8px 16px;
}
.infoLine {
  margin: 6px 0px 20px 0px;
}
@media (max-wdth: 800px) {
  h1 {
    font-size: 48px;
    padding: 30px 0;
  }
  h3 {
    font-size: 12px;
  }
}
